.layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.logo {
    
    height: 31px;
   
    margin: 5px;
    float: left;
    color: white;
    font-size: 30px;
  }

 .logoutButton{
   margin: 5px;
  
 } 
.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Greeting{
    font-size: 30px;
   
}

.AppName{
    font-size: 30px;
}

@media only screen and (max-width: 800px){
  
    .ant-btn.logoutButton.ant-btn-primary{
        width: 10px;
        display: none;
      }
}